<header>
  <% logo = image_tag("browsergame_test_banner.jpg", :alt => "Browsergame Test", :class => "round") %>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Sign in", signin_path %></li>
      <li><%= link_to "Sign up", signup_path %></li>
	  <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</header>