<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Startseite", root_path %></li>
	  <li><%= link_to "Regeln", rules_path %></li>
	  <li><%= link_to "Hilfe", help_path %></li>
	  <li><%= link_to "Links", links_path %></li>
      <li><%= link_to "Anmelden", signup_path %></li>
      <li><%= link_to "Einloggen", signin_path %></li>
    </ul>
  </nav>
</header>